<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:field="urn:jsptagdir:/WEB-INF/tags/form/fields" xmlns:form="urn:jsptagdir:/WEB-INF/tags/form" xmlns:jsp="http://java.sun.com/JSP/Page" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <form:update id="fu_ee_ut_security_Assignment" modelAttribute="assignment" path="/security/assignments" versionField="none" z="48kblD4oWZTmggzzG4kgk2Rob7c=">
        <field:select field="authority" id="c_ee_ut_security_Assignment_authority" itemValue="id" items="${authoritieses}" path="/security/authorities" z="UCT9nVPlHk1++FJYsJhrhfxR3FA="/>
        <field:select field="userrentit" id="c_ee_ut_security_Assignment_userrentit" itemValue="id" items="${userses}" path="/security/users" z="5R3ZWPmuic1Gs3l5HVyic/lAlzI="/>
    </form:update>
</div>
