<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:page="urn:jsptagdir:/WEB-INF/tags/form" xmlns:table="urn:jsptagdir:/WEB-INF/tags/form/fields" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <page:list id="pl_ee_ut_domain_PurchaseOrder" items="${purchaseorders}" z="ZxiqL7EPJVPheNSArYr5uscZ7bU=">
        <table:table data="${purchaseorders}" id="l_ee_ut_domain_PurchaseOrder" path="/purchaseorders" z="/8lDazqEk/tLiofejI6myUynIN0=">
            <table:column id="c_ee_ut_domain_PurchaseOrder_siteid" property="siteId" z="eKZZZb/lPDgEuVwNZu4i/9VMZ0Q="/>
            <table:column date="true" dateTimePattern="${purchaseOrder_startdate_date_format}" id="c_ee_ut_domain_PurchaseOrder_startdate" property="startDate" z="yX+xZNBC2Xvwh+epoIKh+Lqlb7A="/>
            <table:column date="true" dateTimePattern="${purchaseOrder_enddate_date_format}" id="c_ee_ut_domain_PurchaseOrder_enddate" property="endDate" z="7Jr1zQxcwWZpE5ShLzbotgixf+0="/>
            <table:column id="c_ee_ut_domain_PurchaseOrder_siteId" property="siteId" z="qkBjxRCChUAtyh+t92aJtjAAOwI="/>
            <table:column date="true" dateTimePattern="${purchaseOrder_startdate_date_format}" id="c_ee_ut_domain_PurchaseOrder_startDate" property="startDate" z="LbDZj90CG8acb7UA9yOcTkmwWVU="/>
            <table:column date="true" dateTimePattern="${purchaseOrder_enddate_date_format}" id="c_ee_ut_domain_PurchaseOrder_endDate" property="endDate" z="YB4X7n5e3DhIwM3vwF0PqORKYTw="/>
            <table:column id="c_ee_ut_domain_PurchaseOrder_credentials" property="credentials" z="IuEBcp0Jz705Xwq4Ct15Pb1kwVM="/>
            <table:column id="c_ee_ut_domain_PurchaseOrder_email" property="email" z="WgNDG5IVCTUji4DsAfAZRhufz2Q="/>
            <table:column id="c_ee_ut_domain_PurchaseOrder_server" property="server" z="Zs/kcvqXcV6nCVSGCM9eX04OBs0="/>
        </table:table>
    </page:list>
</div>
