<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:field="urn:jsptagdir:/WEB-INF/tags/form/fields" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:page="urn:jsptagdir:/WEB-INF/tags/form" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <page:show create="false" delete="false" id="ps_ee_ut_domain_PurchaseOrder" object="${purchaseorder}" path="/depot" update="false" z="fkFVCtVECymLbAe9Kyg5s+6wSrc=">
        <field:display field="siteId" id="s_ee_ut_domain_PurchaseOrder_siteId" object="${purchaseorder}" z="QkOWUJtp7QKBS0bSRligN70368c="/>
        <field:display date="true" dateTimePattern="${purchaseOrder_startdate_date_format}" field="startDate" id="s_ee_ut_domain_PurchaseOrder_startDate" object="${purchaseorder}" z="jU3yUs/ZofNzlRe//MaL+F/cYTQ="/>
        <field:display date="true" dateTimePattern="${purchaseOrder_enddate_date_format}" field="endDate" id="s_ee_ut_domain_PurchaseOrder_endDate" object="${purchaseorder}" z="J1OmLtAnc3foIMnQVdvGn+tngtU="/>
        <field:display field="cost" id="s_ee_ut_domain_PurchaseOrder_cost" object="${purchaseorder}" z="PkaGceih4p1+lut8szKOzMeUZpg="/>
        <field:display field="hireRequestId" id="s_ee_ut_domain_PurchaseOrder_hireRequestId" object="${purchaseorder}" z="2Je5kMc0N7xHUDkXAng8D2TD4Qg="/>
        <field:display field="status" id="s_ee_ut_domain_PurchaseOrder_status" object="${purchaseorder}" z="0WlSYca+6LO2j1OMrIuhm2ik7es="/>
        <field:display field="plant" id="s_ee_ut_domain_PurchaseOrder_plant" object="${purchaseorder}" z="9Oud4OpPxjrADFToei/ph67bNEY="/>
        <field:display field="invoice" id="s_ee_ut_domain_PurchaseOrder_invoice" object="${purchaseorder}" z="LW3iHGlKlhFSA5lrrorQAYtXZyU="/>
        <field:display field="credentials" id="s_ee_ut_domain_PurchaseOrder_credentials" object="${purchaseorder}" z="c11gXvViE56XSmanjFpMYlHFcKU="/>
        <field:display field="email" id="s_ee_ut_domain_PurchaseOrder_email" object="${purchaseorder}" z="n5DN3JnrgLI+RJdA6SQp6yDDs48="/>
        <field:display field="server" id="s_ee_ut_domain_PurchaseOrder_server" object="${purchaseorder}" z="YvqvO+bVUtYSJbVMTDqbxm65jyY="/>
    </page:show>
</div>
